@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color :rgb(10, 10, 56);
    color : #ffff;
}
html{
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url("images/cover.png");
    background-size: cover;
    background-position:center;
}

.container{
    padding: 10px 10%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 300px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:#ffff;
    text-decoration: none;
    font-size:18px; 
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
}
#about{
    padding: 80px 0;
    color: #ababab ;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: 2px solid #cddc39;
        filter: drop-shadow(0 0 8px #ff5722);
      
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #0c5b10; /* Darker Green */
  }
  .contact-left{
    flex-basis: 35%;
    color: #fff;
}


.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right:15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.button2 {
    background-color: #4CAF50; /* Green */
    border:solid;
    border-color:yellow;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 10px; /* Gap between columns */
  }
  
  .left, .right {
    padding: 10px; /* Optional: Add padding */
  }
  
  /* Optional: Add some styles to visually differentiate left and right elements */
  .left {
    background-color: black;
  }
  
  .right {
    background-color: black;
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.list {
  position: relative;
}
.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
.article-title { margin-bottom: 30px; }
.timeline { margin-bottom: 30px;
  background-color: #111; }

.timeline .title-wrapper {
display: flex;
align-items: center;
gap: 15px;
margin-bottom: 25px;
}

.timeline-list {
font-size: var(--fs-6);
margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
font-size: var(--fs-6);
line-height: 1.3;
margin-bottom: 7px;
}

.timeline-list span {
color: var(--vegas-gold);
font-weight: var(--fw-400);
line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
content: "";
position: absolute;
top: -25px;
left: -30px;
width: 1px;
height: calc(100% + 50px);
background: var(--jet);
}

.timeline-item::after {
content: "";
position: absolute;
top: 5px;
left: -33px;
height: 6px;
width: 6px;
background: var(--text-gradient-yellow);
border-radius: 50%;
box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
color: var(--light-gray);
font-weight: var(--fw-300);
line-height: 1.6;
}



.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}
.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: black;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}
/*small screen*/
nav .fa-solid{
  display: none;
}

@media only screen and (max-width:600px){
  
  #header{
      background-image: url(./images/tom-morel-ktVazL5c7FM-unsplash.jpg);
  }

  .header-text{
      margin-top: 100%;
      font-size: 16px;
  }

  .header-text h1{
      font-size: 30px;
  }

  nav .fa-solid{
      display: block;
      font-size: 25px;
  }

  nav ul{
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
  }

  nav ul li{
      display: block;
      margin: 25px;
  }

  nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left:25px;
      cursor: pointer;
  }

  .subtitle{
      font-size: 40px;
  }
  .about-col-1, .about-col-2{
      flex-basis: 100%;
  }

  .about-col-1{
      margin-bottom: 30px ;
  }

  .about-col-2{
      font-size: 14px;
  }

  .tab-links{
      font-size: 16px;
      margin-right: 20px;
  }

  .contact-left, .contact-right{
      flex-basis: 100%;
  }
}

#msg{
  color: #61b752;
  margin-top:-10px;
  display: block;
}
.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: black;
}

.fa-instagram {
  background: rgb(112, 51, 119);
  color: white;
}

.fa-facebook {
  background: blue;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-decoration: none;
  margin: 5px 8px;
}


